/********************************/
/*       Panel prestations      */
/********************************/



  .panel {
      border: 1px solid #298A08; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

  .panel-heading {
      color: #fff !important;
      background-color: #298A08 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  
    .container-fluid {
      padding: 60px 50px;
  }
  
  
    .size{
	width:100%;
}

.marge{
	padding:20px;
}

.liprestaleft{
	color:#6E6E6E;
	list-style-type:none;
	text-align:left;
	font-weight:bold;
}

.liprestaright{
	color:#6E6E6E;
	list-style-type:none;
	text-align:right;
	font-style:italic;
}

.slideanim {
    visibility:hidden;
    visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
    visibility: visible;                  
    animation: slide 1s;
}
.slideanim::after {
    /* useful when its child elements are float:left; */
    content: "";
    display: table;
    clear: both;
}



@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(50%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0);
    } 
}


body {
      position: relative; 
}
  
  
  
  
  /********************************/
/*          Media Queries       */
/********************************/


  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  
  
  
